@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.Toastify__progress-bar {
  color: aqua !important;
}
@layer base {
  :root {
    --toastify-color-progress-light: linear-gradient(
      to right,
      #007aff,
      #3d8ee5
    ) !important;
  }
}

.mySwiper2 .swiper-slide img {
  height: 100%;
  margin: auto;
  width: 100%;
}
.mySwiper2 .swiper-slide img {
  height: 100%;
  margin: auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .thumbs .swiper-wrapper .swiper-slide {
    width: auto !important;
  }
  .thumbs .swiper-slide {
    height: auto !important;
  }

  .thumbs .swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .thumbs {
    width: 50px;
  }
}
.thumbs .swiper-slide {
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .thumbs .swiper-slide {
    height: auto !important;
  }
  .thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
}
.mySwiper2 {
  height: 80%;
  width: 100%;
}
.mySwiper2 .swiper-slide {
  height: auto;
}

.thumbs .swiper-wrapper .swiper-slide img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.thumbs .swiper-slide {
  width: 25%;
  opacity: 0.4;
}
.thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.thumbs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
