@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 90%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.title {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1.3em;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.HomeSlider .swiper-slide {
  width: auto !important;
}

.mySwiper2 .swiper-slide img {
  height: 100%;
  margin: auto;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .thumbs .swiper-wrapper .swiper-slide {
    width: auto !important;
  }
  .thumbs .swiper-slide {
    height: auto !important;
  }

  .thumbs .swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .thumbs {
    width: 50px;
  }
}
.thumbs .swiper-slide {
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .thumbs .swiper-slide {
    height: auto !important;
  }
  .thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
}
.mySwiper2 {
  height: 80%;
  width: 100%;
}
.mySwiper2 .swiper-slide {
  height: auto;
}

.thumbs .swiper-wrapper .swiper-slide img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.thumbs .swiper-slide {
  width: 25%;
  opacity: 0.4;
}
.thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.thumbs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
